*{
	padding: 0;
	margin:0;
	font-family: sans-serif;
}

.menu{
	background-color: #FF66C4;
	height: 70px
}
.menu h1{
	display: inline-block;
	float: left;
	padding: 13px 22px;
	text-transform: uppercase;
}

.menu h1 a{
	transition: .3s;
}

.menu h1 a:hover{
	color: #8F27E9;
}
.menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	float: right;
}

.menu ul li {
	float: left;
	text-align: center;
}

.menu li a {
	display: inline-block;
	color: black;
	text-align: center;
	padding: 24px;
	text-decoration: none;
}

.menu li a:hover {
	background-color: #8F27E9;
}

.mobile-menu {
	float: right;
	display: flex;
	padding: 25px;
}
#check {
	display: none;
}
.sidebar {
	position: fixed;
	top: 0;
	bottom: 0;
	left: -300px;
	width: 300px;
	background-color: white;
	transition: .3s;
}
.sidebar ul li a {
	color: black;
}
.sidebar ul li {
	padding: 24px;
	transition: .3s;
	transition-property: background-color;
}
.sidebar ul li:hover {
	background-color: #FF66C4;
}
#check:checked ~ .sidebar {
	left: 0;
}

li.dropdown {
	display: inline-block;
}

.dropdown:hover .isi-dropdown {
	display: block;
}

.isi-dropdown a:hover {
	color: #fff;
}

.isi-dropdown {
	position: absolute;
	display: none;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	background-color: #f9f9f9;
}

.isi-dropdown a {
	color: #3c3c3c;
}

.isi-dropdown a:hover {
	color: #232323;
	background: #f3f3f3;
}

#more {display: none;}

.about{
	width: 100%;
	padding: 100px 0px;
	background-color: white;
}
.about img{
	height: auto;
	width: 400px;
}
.about-text{
	width: 550px;
}
.main{
	width: 1130px;
	max-width: 95%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.about-text h5{
	color: black;
	font-size: 50px;
	font-family: gulfs display;
	text-transform: capitalize;
	margin-bottom: 20px;
}

.about-text p{
	color: black;
	letter-spacing: 1px;
	line-height: 28px;
	font-size: 15px;
	font-family: gulfs display;
	margin-bottom: 45px;
}

.title h2{
	color: black;
	font-size: 50px;
	font-family: gulfs display;
	width: 1130px;
	margin: 30px auto;
	text-align: center;
}

#more {display: none;}

.box{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 400px;
}
.card{
	height: 365px;
	width: 335px;
	padding: 20px 35px;
	background: #FF66C4;
	border-radius: 20px;
	margin: 15px;
	position: relative;
	overflow: hidden;
	text-align: center;
}

h5{
	color: black;
	font-size: 23px;
	font-family: gulfs display;
	margin-bottom: 15px;
}
.pra p{
	color: black;
	font-size: 18px;
	font-family: gulfs display;
	line-height: 27px;
	margin-bottom: 20px;
}

#myBtn {
	background-color: #8F27E9;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 9px 22px;
	border-radius: 30px;
	transition: .4s; 
}

#myBtn:hover{
	background-color: transparent;
	border: 2px solid #f9004d;
	cursor: pointer;
}

.col-4 {
	width: 25%;
	box-sizing: border-box;
	padding: 5px;
	float: left;
	text-align: center;
	margin-bottom: 15px;
}
.col-4 {
	width: 50%;
}
.col-4 a:hover img {
	transform: scale(1.2);
}

.col-3 {
	width: 33.33%;
	box-sizing: border-box;
	float: left;
	text-align: center;
	padding: 50px 10px;
}
.col-3 h4 {
	padding-bottom: 10px;
	border: 1px solid #ddd;
	margin-bottom: 15px;
	font-size: 18px;
	font-family: gulfs display;	
}

.col-3 p {
	font-size: 18px;
	font-family: gulfs display;	
}

footer {
	background-color: #FF66C4;
	padding: 20px;
	text-align: center;
}
footer small {
	color: black;
}

html {
	scroll-behavior: smooth;
}

@media (max-width:768px){
	.mobile-menu {
		display: block;
	}
.col-4 {
	width: 25%;
}
.col-3 {
	width: 100%;
}